@model IEnumerable<ConsultationApp.Models.ApplicationUser>

@{
    ViewBag.Title = "Admin Panel";
}

<h2>Admin Panel</h2>
<br />
@Html.ActionLink("Create new role", "New_Role", "Consultations") | @Html.ActionLink("Manage Role", "ManageRoles") | @Html.ActionLink("Manage user roles", "ManageUserRoles")
<br />
<table class="table">
    <br />
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>*@
        </tr>
    }

</table>